body
{
    background:linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.5)),url(3.jpg);
    background-size:cover;
    background-position: center;
    font-family:'Times New Roman', Times, serif;
    color:rgb(240, 234, 234);
}
table
{
    font-size: 20px;
}

input[type="text"]
{
    font-size:18px;
}
<div id="regno_error" class="val_error"></div>

<script type="text/javascript">
    var regno=document.forms["regform"]["regno"];

    var regno_error=document.getElementById("name_error");

    regno.addEventListener("blur",nameVerify,true);

    function validate()
    {
        if(regno.value=="")
        {
           regno.style.border="1px solid red";
           regno_error.textContent="Register Number is Required";
           regno.focus();
           return false;
        }
    }

    function regnoVerify(){
        if (regno.value !==""){
            regno.style.border="1px solid #5E6E66";
            regno_error.innerHTML="";
            return true;
        }
    }
</script>


